.btn-nav {
  color: #343a40;
  border-radius: 0px;
  margin-left:0.3rem;
  font-size: 16px;
  /*padding:0.5rem 1rem !important;*/
}

.btn-nav:hover {
  color: #e6e6e6;
  background-color: #343a40;
  border-color: #343a40;
  box-shadow: 0 .3rem 1rem #8a8a8a!important;
}

.btn-nav:focus, .btn-nav.focus {
  -webkit-box-shadow: 0 0 0 0.2rem #8a8a8a;
          box-shadow: 0 0 0 0.2rem #8a8a8a;
}

.btn-nav.disabled, .btn-nav:disabled {
  color: #fff;
  background-color: #3A3F44;
  border-color: #3A3F44;
}

.btn-nav:not(:disabled):not(.disabled):active, .btn-nav:not(:disabled):not(.disabled).active,
.show > .btn-nav.dropdown-toggle {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-nav:not(:disabled):not(.disabled):active:focus, .btn-nav:not(:disabled):not(.disabled).active:focus,
.show > .btn-nav.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #8a8a8a;
          box-shadow: 0 0 0 0.2rem #8a8a8a;
}

.shadow-white{
  box-shadow: 0 .5rem 1rem rgba(247, 243, 243, 0.856) !important;
}
body{
  padding:2px;
}